


div.fill-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}


* {
  box-sizing: border-box;
}

body {
  
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
    

}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.top{
  margin-top: .6 cm;
}


.header1{
 /* background-image: url("https://s-media-cache-ak0.pinimg.com/originals/48/69/c4/4869c4dd5abc5f1f6106fc6b78bea62c.gif");*/
  /*width:100%;
  height: 75%;*/
  text-shadow: #222;
  text-align: center;
  font-family:Helvetica;
  font-size: 5em;
  padding: 50px;
  margin-top:40px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/
}

.header12{
  color: white;
  font-size: 1em;
  text-shadow: 2.5px 2.5px #474646;
}

p.header13{
  color: white;
  font-size:0.5em;

}
.header {
  /*background-color: #f1f1f1;*/
  padding: 20px;
  text-align: center;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

img.make-it-fit {
    max-width: 99%;
    max-height: 99%;
}



/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  border: 1px solid rgb(34, 31, 31);
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f8f8f8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Add a card effect for articles */
.card1{
  /*background-color: white;
  background-image: url("http://blog.hostbaby.com/wp-content/uploads/2013/07/antiquepaper_1920x1234.jpg");*/

  padding: 20px;
  margin-top: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: rgb(252, 252, 188);
}

p.video-font{
  font-size: 0.75cm;
}


.card2 {
  background-color: white;
  background-image: url("http://www.hbcga.org/wp-content/uploads/2016/02/simple-vintage-backgrounds-1.jpg");

  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: rgb(194, 251, 253);
  
}

.card3{
  padding: 20px;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  color: rgb(244, 253, 227);

}
.card6{
  padding: 20px;
  margin-top: 40px;

  text-align: left;
  font-size: 2em;
  color: rgb(244, 253, 227);

}
.card4{
  background-color: white;
  background-image: url("http://www.hbcga.org/wp-content/uploads/2016/02/simple-vintage-backgrounds-1.jpg");

  padding: 20px;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: rgb(30, 29, 31);

}








/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}


.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}





* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



/* Position the "next button" to the right */
.prev {
  left: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.video-container{
 overflow: auto;
}

.video-container iframe, .video-container object, .video-container embed {
  position:relative;
  top:0;
  left:0;
  max-width: 834px;  max-height:480px; margin: 0px;}

.container{
    max-width: 85%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/* Fake image */
.fakeimg {
  background-image: url("http://blog.hostbaby.com/wp-content/uploads/2014/03/PaintSquares_1920x1234.jpg");
  width: 95%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/* Fake image */
.myimg {
  background-image: url("https://scontent.fcou1-1.fna.fbcdn.net/v/t1.0-9/12227824_941004945937348_7854356956734331278_n.jpg?oh=454fe3fd4a7e7bca8e3d0d75c1aab586&oe=5AEC97C3");
  width: 100%;
  height:100%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*Social Media*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#inputMsg{
  width: 400px;
  height: 160px;
}

#inputName{
width: 100px;
height: 30px;
}

#contact{
  height: 40px;
  width: 100px;
  font-size: 1.2em;
}

.texttypo{
  color: white;
  font-size: 20px;
}

#n2{
  color:black;
}

#button1{
color:rgb(22, 15, 15);
}
#result{
  color: white;
  font-size: 25px;
}
#displayText{
  color: white;
  font-size: 25px;
}
#footer .foreground{
  color: white;
 
}
#footer1 .foreground{
  color: white;
 
}
  /* Footer */
#footer {
 color:white;
  padding: 20px;
  text-align: center;
 background: rgba(70, 70, 73, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
 
  
}
#footer1{
  color:white;
  padding: 20px;
  text-align: center;
margin-top: 26em;
 background: rgba(70, 70, 73, 0.5);

  margin-bottom: 20px;
  /* margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 20px;
} */
}






 